header{
    width: 100vw;
    height: 100px;
    background-color: #b3b2b0;
    display: flex;
    flex-direction: row;
    position: relative;
   
}

.logo {
    width: 17vw;
    height: 90px;
    background-color: white;
}

.logo img {
    width: 10vw;
    height: 80px;
    margin-left: 5vw;
}

#corte {
    width: 68px;
    height: 91px;
    margin-left: -1px;
    border-right: 60px solid transparent;
    border-top: 91px solid #fff;
    float: left;
    position: relative;
    z-index: 100;
    display: flex;
}

.navigation ul li{
    background-color: #b3b2b0;
    color: white;
    float: left;
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
.navigation ul li:hover{
    background-color: #fca316;
    color: white;
}

.navigation {
    display: flex;
    align-items: center;
}
.navigation ul ul {
    display: none;
    background-color: #fca316;
    padding: 0 10px;
}
.navigation ul li:hover > ul {
    display: block;
}

.navigation ul ul li {
    background-color: #fca316;
    width: 200px;
    border-bottom: 1px solid white;
}

.ola {
    height: 2.5vh;
    display: flex;
    justify-content: space-between;
    background-color: #787777;
    color:white;
}

.ola button{
    border: 0;
    color: white;
    background-color: #787777;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4.5vw;
}

.ola p{
    color: white;
    margin-left: 1%;
    font-size: 95%;
    /* display: flex; */
    align-items: center;
}

.lista-branca li a{
    color: white;
}

.navigation a {
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
    
}

.navigation a:hover{ color: #f5f1ed;
    background-color: #fca316;
}

.principal {
	padding: 0 50px;
}

.main {
    width: 75vw;
    height: 70vh;
}

input:focus {
    outline: none !important;
    border:1px solid #2E3C54;
    box-shadow: 0 0 3px #ff8742;
}

textarea:focus {
    outline: none !important;
    border:1px solid #2E3C54;
    box-shadow: 0 0 3px #ff8742;
}


.main .way {
    margin: 1% 0;
}

.espaco {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.contagem {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
    width: 80%;
    margin-top: 4%;
}

form .horizontal {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    /* justify-content: space-between; */
    width: 85%;
    margin-top: 2%;
}

form .horizontal textarea {
    padding: 10px;
    line-height: 1.5;
    border: 1px solid;
    resize: none;
    width: 350px;
    height: 100px;
}

/* form p {
    margin-top: 50px;
} */

form label {
    font-size: 13px;
}

form .input-padrao {
    width: 350px;
}

form .input-comprido {
    width: 410%;
}

form section div {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}

form section div br{
    height: 5%;
}

section div {
    margin-right: 30px;
}


body .button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    background-color: #fca316;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 95px;
    height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.elements{
    display: flex;
    flex-direction: row;
    width: 64vw;
}

.elements label{
    height: 30px;
    width: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.elements .input-numerico{
    width: 50px;
    height: 30px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 2vh;
    background-color: #b3b2b0;
    align-items: center;
}

footer p{
    display:flex;
    justify-content: flex-end;
    color: blue;
    font-weight: 400;
    margin-right: 1%;
    font-size: 10px;
}

footer strong{
    color: blue;
    margin-left: 2px;
}