body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body img {
    width: 20%;
    height: 20%;
}

.cinza {
    display: flex;
    flex-direction: column;
    background-color: #b3b2b0;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 25%;
    height: 35%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cinza .input-padrao {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: 0;
    margin-top: 5%;
}

.extra {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 3%;
    font-size: 12px;
    width: 45%;

}

.extra a {
    margin-left: 20%;
    width: 45%;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link a {
    font-size: 12px;
}

